<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>login</title>
</head>
    <div class="container">
        <body>
            <h1><em><a href="/">초코파이 인사이드...</a></em></h1>
            <hr><p>초코파이에 대해 토론하는 곳 입니다..</p><hr>
            
            <h2>CHANGE YOUR PASSWORD</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST">
                <p><input type="text" name="old_ps" placeholder="현재 비밀번호" required></p>
                <p><input type="text" name="new_ps" placeholder="새로운 비밀번호" required></p>
                <p><input type="text" name="re_new_ps" placeholder="비밀번호 확인" required></p>
                <p><input type="submit" value="비밀번호 변경"></p>
            </form>
        </body>
    </div>
</html>