<!DOCTYPE html>
<html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <title>초코파이 인사이드</title>
        </head>
    <div class="container">
        <body>
            <h1><em><a href="/">초코파이 인사이드...</a></em></h1>
            <hr><p>초코파이에 대해 토론하는 곳 입니다..</p><hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <form name="createForm" action="{{ url_for('topic.create') }}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                <p><input type="text" name="title" placeholder="제목"></p>
                <p><textarea name="body" placeholder="게시글 작성"></textarea></p>
                <p>
                첨부파일(png, jpg, jpeg 30mb):
                <input type="file" name="file">
                </p>
                <p>
                <input type="checkbox" name="is_secret" id="is_secret" onchange="togglePasswordField()">
                <label for="is_secret">비밀글로 설정</label>
                </p>
                <p id="password_field" style="display: none;">
                    <input type="password" name="secret_key" placeholder="비밀글 비밀번호">
                </p>
                <p><input type="submit" value="작성완료"></p>
            </form>

            <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
        </body>
    </div>
</html>