<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>login</title>
</head>
    <div class="container">
        <body>
            <h1><em><a href="/">초코파이 인사이드...</a></em></h1>
            <hr><p>초코파이에 대해 토론하는 곳 입니다..</p><hr>
            
            <h2>FIND YOUR ACCOUNT</h2>
            <form method="POST">
                <p><input type="text" name="user_name" placeholder="이름" required></p>
                <p><input type="text" name="user_school" placeholder="학교" required></p>
                <p><input type="submit" value="아이디 찾기"></p>
            </form>

            {% if user %}
                <p>당신의 아이디는: {{user.user_id}}입니다!</p>
            {% endif %}
        </body>
    </div>
</html>