<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>login</title>
</head>
    <div class="container">
        <body>
            <h1><em><a href="/">초코파이 인사이드...</a></em></h1>
            <hr><p>초코파이에 대해 토론하는 곳 입니다..</p><hr>
            <h2>YOUR PROFILE</h2>
            {% if user.profile_image %}
                <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}" width="300">
            {% else %}
                <p><strong>프로필 이미지가 없습니다.</strong></p>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                <p>
                    <label for="user_name">이름:</label>
                    <input type="text" id="user_name" name="user_name" placeholder="이름" value="{{ user.user_name }}">
                </p>
                <p>
                    <label for="user_school">학교:</label>
                    <input type="text" id="user_school" name="user_school" placeholder="학교" value="{{ user.user_school }}">
                </p>
                <p>
                    <label for="profile_image">프로필 이미지(png, jpg, jpeg 30mb):</label>
                    <input type="file" id="profile_image" name="profile_image">
                </p>
                <p><input type="submit" value="수정완료"></p>
            </form> 
        </body>
    </div>
</html>