<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>login</title>
</head>
    <div class="container">
        <body>
            <h1><em><a href="/">초코파이 인사이드...</a></em></h1>
            <hr><p>초코파이에 대해 토론하는 곳 입니다..</p><hr>
            <h2>{{ user.user_name }}'s PROFILE</h2>
            {% if user.profile_image %}
                <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}" width="300">
            {% else %}
                <p><strong>프로필 이미지가 없습니다.</strong></p>
            {% endif %}
            <P><strong>이름</strong>:{{ user.user_name }}</P>
            <P><strong>학교</strong>:{{ user.user_school }}</P>
            {% if user.user_id == session['user_id'] %}
                <P><strong>메일</strong>:{{ user.user_mail }}</P>
                <a href="/profile/edit">프로필 수정</a>
                <a href="/change_password">비밀번호 변경</a>
            {% endif %}            
        </body>
    </div>
</html>