<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>회원가입</title>
</head>
    <div class="container">
        <body>
            <h1><em><a href="{{ url_for('main.main') }}">초코파이 인사이드...</a></em></h1>
            <hr><p>초코파이에 대해 토론하는 곳 입니다..</p><hr>

            <h2>REGISTER</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST">
                <p><input type="text" name="user_id" placeholder="id" required></p>
                <p><input type="text" name="user_ps" placeholder="password" required></p>
                <p><input type="text" name="user_name" placeholder="your name" required></p>
                <p><input type="text" name="user_school" placeholder="school name" required></p>
                <p><input type="text" name="user_mail" placeholder="your mail" required></p>
                <p><input type="submit" value="가입완료"></p>
            </form>
        </body>
    </div>
</html>